@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.layout {
  overflow: hidden;
  overscroll-behavior: none;
}

button {
  outline: none;
  cursor: pointer;
}

textarea {
  outline: none;
  resize: none;
  border: 0;
  padding: 0;
  margin: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  z-index: 1000;
}

.sentenceBtn {
  width: 60px;
  border: 1px solid white;
  cursor: pointer;
}
.sentenceBtn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar {
  width: 2px;
  background: #ffffff00;
}
::-webkit-scrollbar-thumb {
  background: #ffffff00;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff00;
}
